$base-color: #333;
$base-font-size: 15px;
$base-font-weight: 400;
$base-font: 'Open Sans', sans-serif;;

$blue : #2c71fa;
$white : #fff;
$black : #333;
$grey : #838383;
$red : #ff2424;

/* font style */
$italic: italic;
$normal: normal;

/* media css */
/* Small tablets and large smartphones (landscape view) */
$screen-sm-size: 567px;

/*// Small tablets (portrait view)*/
$screen-md-size: 767px;

/*// Tablets and small desktops*/
$screen-lg-size: 991px;

/*// Large tablets and desktops*/
$screen-xl-size: 1200px;