.react-form-singup{
  margin: 20px 0 50px 0;
  .react-form-singup__field {
    @include flex("wrap");
    flex-flow: column-reverse;
    margin-bottom: 10px;
    @include align-items(flex-start);

    &.react-form-singup__field--mt20 {
      margin-top: 20px;
    }

    &.react-form-singup__field--error {
      label {
        color: $red;
      }
      input,
      select {
        border-color: $red;
      }
    }

    .field-label-info {
      font-size: 12px;
      color: $grey;
      margin-top: 10px;
    }

    .field-label-invalid {
      color: $red;
      font-size: 13px;
      margin-top: 10px;
    }

    .field-label,
    input {
      transition: all 0.2s;
      touch-action: manipulation;
    }
    input {
      font-size: 16px;
      border: 0;
      border: 1px solid #f1f1f1;
      font-family: inherit;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 0;
      cursor: text;
      height: 50px;
      padding: 5px 15px;
      box-sizing: border-box;
      z-index: 9;
      background: none;
      width: 100%;
      outline: none;
      &:focus::-webkit-input-placeholder {
        opacity: 1;
      }
      &:not(:placeholder-shown) + label,
      &:focus + label {
        transform: translate(10px, 6px) scale(0.8);
        cursor: pointer;
        background: $white;
        z-index: 99;
      }
    }
    select {
      font-size: 16px;
      border: 0;
      border: 1px solid #f1f1f1;
      border-radius: 0;
      padding: 0;
      height: 50px;
      padding: 5px 15px;
      box-sizing: border-box;
      z-index: 9;
      background: none;
      width: 100%;
      outline: none;
      color: $grey;
    }
    .field-label {
      cursor: text;
      transform-origin: left bottom;
      transform: translate(10px, 32px) scale(1);
      color: $grey;
      padding: 0 5px;
      font-size: 16px;
      line-height: 1;
    }
  }
  .react-form-singup__button {
    background: $blue;
    width: 100%;
    height: 50px;
    border: none;
    color: $white;
    font-weight: 600;
    outline: none;
    margin-top: 30px;
    border-radius: 3px;
    cursor: pointer;
  }
  .react-form-singup__field--empty ~ button,
  .react-form-singup__field--error ~ button {
    background: #ededed;
    color: #aaaaaa;
    cursor: not-allowed;
  }

}






